<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>Create</h1>
        <h4>Employee</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form action="#" th:action="@{/employee/save}" th:object="${employee}" method="post">
                    <div class="form-group">
                        <label class="control-label" for="FirstName">FirstName</label>
                        <input class="form-control" type="text" data-val="true"
                            data-val-required="The FirstName field is required." th:field="*{firstName}"
                            />
                        <span class="text-danger field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"
                            th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">*</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="LastName">LastName</label>
                        <input class="form-control" type="text" data-val="true"
                            data-val-required="The LastName field is required." th:field="*{lastName}" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"
                            th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Role">Role</label>
                        <input class="form-control" type="text" data-val="true"
                            data-val-required="The Role field is required." th:field="*{role}" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="Role" data-valmsg-replace="true"
                            th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a href="/employee" th:href="@{/employee/index}">Back to List</a>
        </div>
    </div>
</body>
</html>