<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">

        <h1>Index</h1>

        <p>
            <a href="/employee/create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Role
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vm : ${employees}">
                    <td th:text="${vm.firstName}">
                        YJ
                    </td>
                    <td th:text="${vm.lastName}">
                        Park
                    </td>
                    <td th:text="${vm.role}">
                        Users
                    </td>
                    <td>
                        <a href="/Employee/Edit/2">Edit</a> |
                        <!-- <a href="/Employee/Details/2">Details</a> | -->
                        <a th:href="@{/employee/delete(id=${vm.id})}"
                            onclick="return window.confirm('정말로 삭제하시겠습니까?')"
                        >Delete</a>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        Test
                    </td>
                    <td>
                        Kim
                    </td>
                    <td>
                        Users
                    </td>
                    <td>
                        <a href="/employee/edit/3">Edit</a> |
                        <a href="/employee/details/3">Details</a> |
                        <a href="/employee/delete/3">Delete</a>
                    </td>
                </tr> -->
            </tbody>
        </table>

    </div>
</body>
</html>